<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Anderson Roberto Silva - Arquiteto e Urbanista</title>

  <link rel="icon" type="image/png" href="../images/icon.png">
  <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="../css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>

<body>

  <nav class="grey darken-4" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo white-text">
        <img class="icon-logo" src="../images/logo_small.png"> <span class="hide-on-med-and-down"> Anderson Roberto Silva </span>
      </a>

      <ul class="right hide-on-med-and-down">
        <li><a href="../views/about.html" class="white-text">Sobre a Empresa</a></li>
        <li><a href="../views/services.html" class="white-text">Serviços</a></li>
        <li><a href="../views/executed.html" class="white-text">Obras Executadas</a></li>
        <li><a href="../index.html" class="white-text"><i class="mdi-action-home"></i></a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="../views/about.html">Sobre a Empresa</a></li>
        <li><a href="../views/services.html">Serviços</a></li>
        <li><a href="../views/executed.html">Obras Executadas</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse white-text"><i class="material-icons">menu</i></a>
    </div>
  </nav>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light brown-text">
             <div class="card-panel z-depth-5">
              <span class="blue-text text-darken-2">Sobre a empresa</span>
             </div>
          </h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="../images/about_background1.jpg" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 center">
          <h3><i class="medium material-icons brown-text">location_city</i></h3>
          <p class="left-align light">
            Desde 2010, a empresa tem como objetivo atender de maneira inovadora e
            com qualidade diferenciada o nicho do mercado residencial e comercial,
            sempre acompanhando e procurando aplicar tendências mundiais de produtos
            e novas tecnologias para viabilização de novas ideias e soluções que impactem
            tanto na qualidade de vida quanto no prazo e na redução dos custos, pois
            construir o presente olhando para o futuro é o modo correto de valorizar as
            primícias de cada projeto, entender suas particularidades e não apenas
            executá-los, buscamos empresas parceiras e qualificadas que possam
            completar o time somando a elevada capacidade de nossos profissionais assim
            tendo a flexibilidade de dimensionar a equipe conforme sua necessidade.  
            <br> <br>
            Experiência em construção civil de edificações residenciais e comerciais,
            horizontais e verticais com sistemas de alvenaria estrutural e convencional.
            Gestão, execução de projetos e obras, layout, reformas, acessibilidade,
            incluindo controle físico e financeiro, administração de contratos, controle de
            orçamento/planejamento, contratação de mão de obra (terceirizada), execução
            de previsões financeiras (custo e receita) e relatórios gerenciais. Responsável
            pela gestão financeira e econômica da obra. Atuação com bancos
            financiadores executando medições. Experiência com Sistema de Gestão da
            Qualidade e sistema SAP. Coordenação em manutenção e infraestrutura
            predial (facilities). Documentação, legalização, execução de laudos técnicos
            periciais, HABITE-SE, AVCB, ALUF de imóveis e comércios.
          </p>
        </div>
      </div>

    </div>
  </div>


  <footer class="page-footer teal grey darken-4">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">
            <img class="icon-logo" src="../images/logo_small.png"> Anderson Roberto Silva</h5>
          <p class="grey-text text-lighten-4">
            Agende sua visita. Oferecemos suporte a todas as dúvidas e atendemos inclusive aos finais de semana.
          </p>
        </div>
        <div class="col l4 s12">
          <h5 class="white-text">Contatos</h5>
          <ul>
            <li><a class="white-text" href="#!"><i class="material-icons tiny">phone</i> (11) 94731-2230</a></li>
            <li><a class="white-text" href="mailto:anderson_arq1@hotmail.com"><i class="material-icons tiny">email</i> anderson_arq1@hotmail.com</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        2016 Copyright: <a class="brown-text text-lighten-3" href="mailto:edersondelima@gmail.com">Ederson de Lima</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="../js/jquery-2.2.1.min.js"></script>
  <script src="../js/materialize.min.js"></script>
  <script src="../js/init.js"></script>
  </body>
</html>
